@charset "utf-8";
/* CSS Document */

header,footer,section,article,aside,nav,hgroup,details,menu,figure,figcaption,summary,canvas{display:block}

html{width:100%;height:100%}
body{position:relative;margin:0px;padding:0px;max-width:100%;min-width:320px;height:100%;color:#444;font-size:13px;line-height:1.6em;font-family:'Apple SD Gothic Neo','Malgun Gothic',dotum,Verdana;word-wrap:break-word;word-break:break-all;-webkit-text-size-adjust:none}
div,p,ol,ul,li,img,a,h1,h2,h3,h4,h5,h6,form,span,iframe,dl,dt,dd{margin:0px;padding:0px}
ul{list-style:none}
a{padding:0;margin:0;text-decoration:none;color:#222}
table,th,td{margin:0;padding:0;border:0;border-spacing:0;border-collapse:collapse;table-layout:fixed;background:#fff}
img{border:0px;vertical-align:middle}
form,fieldset{margin:0;padding:0;border:none}
caption{visibility:hidden;width:0;height:0;line-height:0;font-size:0}
textarea,select{color:#777;border:1px solid #cecece}
figure,figcaption{padding:0;margin:0}
input[type="text"],
input[type="password"],
input[type="radio"],
input[type="checkbox"]{vertical-align:middle}
button,
input[type="button"]{font-family:'Apple SD Gothic Neo','Malgun Gothic',dotum,Verdana;vertical-align:middle;cursor:pointer}
a,button{transition:background-color .3s ease, border-color .3s ease, color .3s ease}
input[readonly]{background-color:#f5f5f5}

.blind,legend{position:absolute;left:0;top:0;visibility:hidden;width:0;height:0;line-height:0;font-size:0}
.hidden{display:none}

.clear_box{position:relative;display:block}
.clear_box:after{content:"";clear:both;display:block}

.fl{float:left !important}
.fr{float:right !important}

.tl{text-align:left !important}
.tc{text-align:center !important}
.tr{text-align:right !important}

.f_sky{color:#008bc5 !important}
.f_red{color:#f00 !important}
.f_gray{color:#747474 !important}

.mb5{margin-bottom:5px !important}
.mb10{margin-bottom:10px !important}
.mb15{margin-bottom:15px !important}
.mb20{margin-bottom:20px !important}
.mb25{margin-bottom:25px !important}
.mb30{margin-bottom:30px !important}
.mb40{margin-bottom:40px !important}
.mb50{margin-bottom:50px !important}

.mt5{margin-top:5px !important}
.mt10{margin-top:10px !important}

.f_blue{color:#297cd7}